USE [master]
GO
/****** Object:  Database [daiko_system]    Script Date: 14/06/2020 18:16:09 ******/
CREATE DATABASE [daiko_system]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Daiko System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Daiko System.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Daiko System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Daiko System_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [daiko_system].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [daiko_system]
GO
/****** Object:  Schema [Almacen]    Script Date: 14/06/2020 18:16:09 ******/
CREATE SCHEMA [Almacen]
GO
/****** Object:  Schema [Compras]    Script Date: 14/06/2020 18:16:09 ******/
CREATE SCHEMA [Compras]
GO
/****** Object:  Schema [General]    Script Date: 14/06/2020 18:16:09 ******/
CREATE SCHEMA [General]
GO
/****** Object:  Schema [Ventas]    Script Date: 14/06/2020 18:16:09 ******/
CREATE SCHEMA [Ventas]
GO
/****** Object:  Table [Almacen].[Almacenes]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Almacenes](
	[id_almacen] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
	[telefono] [varchar](12) NULL,
	[direccion] [varchar](50) NULL,
	[codigo_postal] [char](5) NULL,
	[id_pais] [int] NULL,
	[provincia] [varchar](30) NULL,
	[localidad] [varchar](30) NULL,
	[gestion_inventario] [varchar](30) NULL,
	[responsable] [varchar](20) NULL,
	[nota] [varchar](300) NULL,
 CONSTRAINT [PK_Almacenes] PRIMARY KEY CLUSTERED 
(
	[id_almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[Catalogo]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Catalogo](
	[id_producto] [int] NOT NULL,
	[id_almacen] [int] NULL,
	[codigo_interno] [varchar](20) NULL,
	[nombre] [varchar](20) NULL,
	[id_familia] [int] NULL,
	[id_marca] [int] NULL,
	[fecha_alta] [date] NULL,
	[fecha_baja] [date] NULL,
	[descripcion] [varchar](300) NULL,
	[precio_sin_iva] [decimal](18, 0) NULL,
	[iva] [int] NULL,
	[precio_mayorista] [decimal](18, 0) NULL,
	[stock_minimo] [int] NULL,
	[stock] [int] NULL,
	[pedido_minimo] [int] NULL,
	[imagen] [image] NULL,
 CONSTRAINT [PK_Catalogo] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[DetallesMovimiento]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[DetallesMovimiento](
	[id_detalle_movimiento] [int] NOT NULL,
	[id_movimiento] [int] NULL,
	[id_producto] [int] NULL,
	[descripcion] [varchar](300) NULL,
	[cantidad] [int] NULL,
	[numero_lote] [varchar](20) NULL,
	[numero_serie] [varchar](20) NULL,
	[fecha_caducidad] [date] NULL,
 CONSTRAINT [PK_DetallesMovimiento] PRIMARY KEY CLUSTERED 
(
	[id_detalle_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[Familias]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Familias](
	[id_familia] [int] NOT NULL,
	[codigo_familia] [varchar](50) NULL,
	[id_estado] [int] NULL,
 CONSTRAINT [PK_Familias_1] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[Marcas]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Marcas](
	[id_marca] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[Movimientos]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[Movimientos](
	[id_movimiento] [int] NOT NULL,
	[numero_movimiento] [bigint] NULL,
	[id_tipo_movimiento] [int] NULL,
	[fecha] [date] NULL,
	[nota] [varchar](300) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[TiposMovimiento]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[TiposMovimiento](
	[id_tipo_movimiento] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_TiposMovimiento] PRIMARY KEY CLUSTERED 
(
	[id_tipo_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Gastos]    Script Date: 14/06/2020 18:16:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Gastos](
	[id_gasto] [int] NOT NULL,
	[id_proveedor] [char](10) NULL,
	[numero_factura] [varchar](10) NULL,
	[fecha_facturada] [date] NULL,
	[fecha_vencimiento] [date] NULL,
	[fecha_operacion] [date] NULL,
	[tipo_vencimiento] [varchar](20) NULL,
	[forma_pago] [varchar](20) NULL,
	[nota] [varchar](300) NULL,
 CONSTRAINT [PK_Gastos] PRIMARY KEY CLUSTERED 
(
	[id_gasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Pedidos]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Pedidos](
	[id_pedido] [int] NOT NULL,
	[id_proveedor] [int] NULL,
	[fecha_pedido] [date] NULL,
	[fecha_entrega] [date] NULL,
	[id_estado] [int] NULL,
	[id_almacen] [int] NULL,
	[nota] [varchar](300) NULL,
 CONSTRAINT [PK_Pedidos_1] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Compras].[Proveedores]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Compras].[Proveedores](
	[id_proveedor] [int] NOT NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[telefono] [varchar](12) NULL,
	[id_tipo_documento] [int] NULL,
	[numero_documento] [varchar](9) NULL,
	[id_tipo_proveedor] [int] NULL,
	[id_estado] [int] NULL,
	[email] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[id_pais] [int] NULL,
	[id_provincia] [varchar](30) NULL,
	[localidad] [varchar](30) NULL,
	[codigo_postal] [char](5) NULL,
	[id_cuenta_bancaria] [int] NULL,
	[tipo_iva] [int] NULL,
	[forma_pago_predefinida] [varchar](10) NULL,
	[pedido_minimo] [float] NULL,
	[importe_pedido_envio_gratis] [float] NULL,
	[persona_contacto_pedido] [varchar](20) NULL,
	[persona_contacto_marketing] [varchar](20) NULL,
	[comentario] [varchar](300) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[CuentasBancarias]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[CuentasBancarias](
	[id_cuenta_bancaria] [int] NOT NULL,
	[id_propietario] [int] NULL,
	[iban] [char](4) NULL,
	[entidad] [char](4) NULL,
	[oficina] [char](4) NULL,
	[dc] [char](2) NULL,
	[cuenta_bancaria] [char](10) NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[id_cuenta_bancaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[Detalles]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Detalles](
	[id_detalle] [int] NOT NULL,
	[id_accion] [int] NULL,
	[id_producto] [int] NULL,
	[id_cuenta_bancaria] [nchar](10) NULL,
	[descripcion] [varchar](300) NULL,
	[cantidad] [int] NULL,
	[iva] [int] NULL,
	[retencion_irpf] [int] NULL,
	[precio_base] [float] NULL,
	[pvp] [float] NULL,
	[total_detalle] [float] NULL,
 CONSTRAINT [PK_Detalles] PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[Empresa]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Empresa](
	[id_empresa] [int] NOT NULL,
	[razon_social] [varchar](50) NULL,
	[nombre_comercial] [varchar](50) NULL,
	[cif] [varchar](9) NULL,
	[direccion_fiscal] [varchar](50) NULL,
	[codigo_postal] [varchar](5) NULL,
	[telefono] [varchar](9) NULL,
	[fax] [varchar](9) NULL,
	[logo] [image] NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [General].[Estados]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Estados](
	[id_estado] [int] NOT NULL,
	[nombre_estado] [varchar](30) NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[Paises]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Paises](
	[id_pais] [int] NOT NULL,
	[code] [smallint] NULL,
	[iso3166a1] [char](2) NULL,
	[iso3166a2] [char](3) NULL,
	[nombre] [varchar](128) NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [General].[Usuarios]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [General].[Usuarios](
	[id_usuario] [int] NOT NULL,
	[nombre_usuario] [varchar](20) NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](max) NULL,
	[es_administrador] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Clientes]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Clientes](
	[id_cliente] [int] NOT NULL,
	[razon_social] [varchar](50) NOT NULL,
	[nombre_comercial] [varchar](50) NULL,
	[nombre] [varchar](20) NULL,
	[apellido] [varchar](20) NULL,
	[telefono] [varchar](12) NULL,
	[codigo_contabilidad] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[id_pais] [int] NULL,
	[id_provincia] [int] NULL,
	[localidad] [varchar](30) NULL,
	[codigo_postal] [varchar](5) NULL,
	[id_cuenta_bancaria] [int] NULL,
	[tipo_iva] [int] NULL,
	[forma_pago_predefinida] [varchar](10) NULL,
	[tipo_cliente] [varchar](10) NULL,
	[id_estado] [int] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Facturas]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Facturas](
	[id_factura] [int] NOT NULL,
	[numero_factura] [varchar](10) NULL,
	[id_cliente] [int] NULL,
	[fecha] [date] NULL,
	[tipo_vencimiento] [varchar](20) NULL,
	[fecha_vencimiento] [date] NULL,
	[forma_pago] [varchar](20) NULL,
	[nota] [varchar](300) NULL,
	[total_factura] [float] NULL,
	[pagado] [bit] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Pedidos]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Pedidos](
	[id_pedido] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[numero_pedido] [char](10) NULL,
	[id_estado] [int] NULL,
	[fecha_pedido] [date] NULL,
	[fecha_entrega] [date] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[Presupuestos]    Script Date: 14/06/2020 18:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[Presupuestos](
	[id_presupuesto] [int] NOT NULL,
	[id_cliente] [int] NULL,
	[fecha] [date] NULL,
	[id_estado] [int] NULL,
	[nota] [varchar](300) NULL,
 CONSTRAINT [PK_Presupuestos] PRIMARY KEY CLUSTERED 
(
	[id_presupuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Almacen].[Almacenes] ([id_almacen], [nombre], [telefono], [direccion], [codigo_postal], [id_pais], [provincia], [localidad], [gestion_inventario], [responsable], [nota]) VALUES (1, N'principal', N'123123123', N'asd', N'12312', 4, N'asd', N'asd', N'L.I.F.O', N's', N'asdaaaaaaaaaaaaaaaaaaaaaaaasdg')
INSERT [Almacen].[Almacenes] ([id_almacen], [nombre], [telefono], [direccion], [codigo_postal], [id_pais], [provincia], [localidad], [gestion_inventario], [responsable], [nota]) VALUES (2, N'adqwe', N'123123123', N'qwe', N'12312', 14, N'qwe', N'qwe', N'Prom. ponderado', N'qwe', N'qwe')
INSERT [Almacen].[Almacenes] ([id_almacen], [nombre], [telefono], [direccion], [codigo_postal], [id_pais], [provincia], [localidad], [gestion_inventario], [responsable], [nota]) VALUES (3, N'nombre3', N'666777888', N'alli mismo', N'00000', 73, N'provincia', N'localidad', N'L.I.F.O', N'Responsable3', N'buen almacen')
GO
INSERT [Almacen].[Catalogo] ([id_producto], [id_almacen], [codigo_interno], [nombre], [id_familia], [id_marca], [fecha_alta], [fecha_baja], [descripcion], [precio_sin_iva], [iva], [precio_mayorista], [stock_minimo], [stock], [pedido_minimo], [imagen]) VALUES (2, 1, N'C0D', N'nombre2', 7, 1, CAST(N'2019-01-01' AS Date), CAST(N'2023-01-01' AS Date), N'Descripcion2', CAST(10 AS Decimal(18, 0)), 21, CAST(8 AS Decimal(18, 0)), 20, 2, 100, NULL)
INSERT [Almacen].[Catalogo] ([id_producto], [id_almacen], [codigo_interno], [nombre], [id_familia], [id_marca], [fecha_alta], [fecha_baja], [descripcion], [precio_sin_iva], [iva], [precio_mayorista], [stock_minimo], [stock], [pedido_minimo], [imagen]) VALUES (3, 1, N'C0D', N'nombre3', 1, 1, CAST(N'2019-01-01' AS Date), CAST(N'2023-01-01' AS Date), N'Descripcion3', CAST(10 AS Decimal(18, 0)), 21, CAST(8 AS Decimal(18, 0)), 20, 3, 100, NULL)
GO
INSERT [Almacen].[Familias] ([id_familia], [codigo_familia], [id_estado]) VALUES (1, N'Ropas', 1)
INSERT [Almacen].[Familias] ([id_familia], [codigo_familia], [id_estado]) VALUES (2, N'Limpieza', 1)
INSERT [Almacen].[Familias] ([id_familia], [codigo_familia], [id_estado]) VALUES (3, N'Deporte', 2)
INSERT [Almacen].[Marcas] ([id_marca], [nombre]) VALUES (1, N'Hacendado')
INSERT [Almacen].[Marcas] ([id_marca], [nombre]) VALUES (2, N'Asus')
INSERT [Almacen].[Marcas] ([id_marca], [nombre]) VALUES (3, N'HP')
INSERT [General].[Estados] ([id_estado], [nombre_estado]) VALUES (1, N'Activo')
INSERT [General].[Estados] ([id_estado], [nombre_estado]) VALUES (2, N'Anulado')
INSERT [General].[Estados] ([id_estado], [nombre_estado]) VALUES (3, N'Bloqueado')
INSERT [General].[Paises] ([id_pais], [code], [iso3166a1], [iso3166a2], [nombre]) VALUES (1, 4, N'AF', N'AFG', N'Afganistán')
INSERT [General].[Paises] ([id_pais], [code], [iso3166a1], [iso3166a2], [nombre]) VALUES (2, 248, N'AX', N'ALA', N'Islas Gland')
INSERT [General].[Paises] ([id_pais], [code], [iso3166a1], [iso3166a2], [nombre]) VALUES (3, 8, N'AL', N'ALB', N'Albania')
GO
ALTER TABLE [Almacen].[Almacenes]  WITH CHECK ADD  CONSTRAINT [FK_Almacenes_Paises] FOREIGN KEY([id_pais])
REFERENCES [General].[Paises] ([id_pais])
GO
ALTER TABLE [Almacen].[Almacenes] CHECK CONSTRAINT [FK_Almacenes_Paises]
GO
ALTER TABLE [Almacen].[Catalogo]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Almacenes] FOREIGN KEY([id_almacen])
REFERENCES [Almacen].[Almacenes] ([id_almacen])
GO
ALTER TABLE [Almacen].[Catalogo] CHECK CONSTRAINT [FK_Catalogo_Almacenes]
GO
ALTER TABLE [Almacen].[Catalogo]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Familias1] FOREIGN KEY([id_familia])
REFERENCES [Almacen].[Familias] ([id_familia])
GO
ALTER TABLE [Almacen].[Catalogo] CHECK CONSTRAINT [FK_Catalogo_Familias1]
GO
ALTER TABLE [Almacen].[Catalogo]  WITH CHECK ADD  CONSTRAINT [FK_Catalogo_Marcas] FOREIGN KEY([id_marca])
REFERENCES [Almacen].[Marcas] ([id_marca])
GO
ALTER TABLE [Almacen].[Catalogo] CHECK CONSTRAINT [FK_Catalogo_Marcas]
GO
ALTER TABLE [Almacen].[DetallesMovimiento]  WITH CHECK ADD  CONSTRAINT [FK_DetallesMovimiento_Catalogo1] FOREIGN KEY([id_producto])
REFERENCES [Almacen].[Catalogo] ([id_producto])
GO
ALTER TABLE [Almacen].[DetallesMovimiento] CHECK CONSTRAINT [FK_DetallesMovimiento_Catalogo1]
GO
ALTER TABLE [Almacen].[DetallesMovimiento]  WITH CHECK ADD  CONSTRAINT [FK_DetallesMovimiento_Movimientos] FOREIGN KEY([id_movimiento])
REFERENCES [Almacen].[Movimientos] ([id_movimiento])
GO
ALTER TABLE [Almacen].[DetallesMovimiento] CHECK CONSTRAINT [FK_DetallesMovimiento_Movimientos]
GO
ALTER TABLE [Almacen].[Familias]  WITH CHECK ADD  CONSTRAINT [FK_Familias_Estados] FOREIGN KEY([id_estado])
REFERENCES [General].[Estados] ([id_estado])
GO
ALTER TABLE [Almacen].[Familias] CHECK CONSTRAINT [FK_Familias_Estados]
GO
ALTER TABLE [Almacen].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_TiposMovimiento] FOREIGN KEY([id_tipo_movimiento])
REFERENCES [Almacen].[TiposMovimiento] ([id_tipo_movimiento])
GO
ALTER TABLE [Almacen].[Movimientos] CHECK CONSTRAINT [FK_Movimientos_TiposMovimiento]
GO
ALTER TABLE [Compras].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Almacenes] FOREIGN KEY([id_almacen])
REFERENCES [Almacen].[Almacenes] ([id_almacen])
GO
ALTER TABLE [Compras].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Almacenes]
GO
ALTER TABLE [Compras].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [Compras].[Proveedores] ([id_proveedor])
GO
ALTER TABLE [Compras].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Proveedores]
GO
ALTER TABLE [Compras].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_CuentasBancarias] FOREIGN KEY([id_cuenta_bancaria])
REFERENCES [General].[CuentasBancarias] ([id_cuenta_bancaria])
GO
ALTER TABLE [Compras].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_CuentasBancarias]
GO
ALTER TABLE [Compras].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Estados] FOREIGN KEY([id_estado])
REFERENCES [General].[Estados] ([id_estado])
GO
ALTER TABLE [Compras].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Estados]
GO
ALTER TABLE [Compras].[Proveedores]  WITH CHECK ADD  CONSTRAINT [FK_Proveedores_Paises] FOREIGN KEY([id_pais])
REFERENCES [General].[Paises] ([id_pais])
GO
ALTER TABLE [Compras].[Proveedores] CHECK CONSTRAINT [FK_Proveedores_Paises]
GO
ALTER TABLE [General].[CuentasBancarias]  WITH CHECK ADD  CONSTRAINT [FK_CuentasBancarias_Clientes] FOREIGN KEY([id_propietario])
REFERENCES [Ventas].[Clientes] ([id_cliente])
GO
ALTER TABLE [General].[CuentasBancarias] CHECK CONSTRAINT [FK_CuentasBancarias_Clientes]
GO
ALTER TABLE [General].[CuentasBancarias]  WITH CHECK ADD  CONSTRAINT [FK_CuentasBancarias_Proveedores] FOREIGN KEY([id_propietario])
REFERENCES [Compras].[Proveedores] ([id_proveedor])
GO
ALTER TABLE [General].[CuentasBancarias] CHECK CONSTRAINT [FK_CuentasBancarias_Proveedores]
GO
ALTER TABLE [General].[Detalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Catalogo] FOREIGN KEY([id_producto])
REFERENCES [Almacen].[Catalogo] ([id_producto])
GO
ALTER TABLE [General].[Detalles] CHECK CONSTRAINT [FK_Detalles_Catalogo]
GO
ALTER TABLE [General].[Detalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Facturas] FOREIGN KEY([id_accion])
REFERENCES [Ventas].[Facturas] ([id_factura])
GO
ALTER TABLE [General].[Detalles] CHECK CONSTRAINT [FK_Detalles_Facturas]
GO
ALTER TABLE [General].[Detalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Gastos] FOREIGN KEY([id_accion])
REFERENCES [Compras].[Gastos] ([id_gasto])
GO
ALTER TABLE [General].[Detalles] CHECK CONSTRAINT [FK_Detalles_Gastos]
GO
ALTER TABLE [General].[Detalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Pedidos1] FOREIGN KEY([id_accion])
REFERENCES [Ventas].[Pedidos] ([id_pedido])
GO
ALTER TABLE [General].[Detalles] CHECK CONSTRAINT [FK_Detalles_Pedidos1]
GO
ALTER TABLE [General].[Detalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Pedidos2] FOREIGN KEY([id_accion])
REFERENCES [Compras].[Pedidos] ([id_pedido])
GO
ALTER TABLE [General].[Detalles] CHECK CONSTRAINT [FK_Detalles_Pedidos2]
GO
ALTER TABLE [General].[Detalles]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_Presupuestos1] FOREIGN KEY([id_accion])
REFERENCES [Ventas].[Presupuestos] ([id_presupuesto])
GO
ALTER TABLE [General].[Detalles] CHECK CONSTRAINT [FK_Detalles_Presupuestos1]
GO
ALTER TABLE [Ventas].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_CuentasBancarias] FOREIGN KEY([id_cuenta_bancaria])
REFERENCES [General].[CuentasBancarias] ([id_cuenta_bancaria])
GO
ALTER TABLE [Ventas].[Clientes] CHECK CONSTRAINT [FK_Clientes_CuentasBancarias]
GO
ALTER TABLE [Ventas].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [Ventas].[Clientes] ([id_cliente])
GO
ALTER TABLE [Ventas].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [Ventas].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [Ventas].[Clientes] ([id_cliente])
GO
ALTER TABLE [Ventas].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [Ventas].[Presupuestos]  WITH CHECK ADD  CONSTRAINT [FK_Presupuestos_Clientes] FOREIGN KEY([id_cliente])
REFERENCES [Ventas].[Clientes] ([id_cliente])
GO
ALTER TABLE [Ventas].[Presupuestos] CHECK CONSTRAINT [FK_Presupuestos_Clientes]
GO
USE [master]
GO
