<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="DaikoDB" connectionString="Data Source=DESKTOP-G9E2PVR;Initial Catalog=daiko_system; Integrated Security = True"/>
    <add name="Daiko_DESKTOP.Properties.Settings.daiko_systemConnectionString" connectionString="Data Source=DESKTOP-G9E2PVR;Initial Catalog=daiko_system;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
